nav,
div#searchBar,
nav > input {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: var(--main-color);
  width: 100%;
  height: 3rem;
  padding: 1rem;
  justify-content: space-around;
}

div#searchBar {
  background-color: var(--secondary-color);
  width: 70%;
  border-radius: 1em;
  align-items: center;
}

div#searchBar > img {
  height: 70%;
}

div#searchBar > input {
  background-color: transparent;
  border: none;
  width: 100%;
  border-radius: 1em;
  height: 100%;
  color: var(--white);
}

nav > div#sort {
  width: 15%;
  background-color: var(--light-secondary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  padding: 0.5em;
  justify-content: center;
}

nav > div#sort > input {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  nav > div#sort {
    width: 10%;
  }
  nav > div#sort > span {
    display: none;
  }
}
